#editor-container {
  margin-bottom: 20px;
}

/* Styles for the textarea */
#editor {
  outline: none;
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  font-size: 1.1em;
  border: none;
  padding: 15px;
  background: #383838;
  color: #efc704;
  height: 100vh;
  width: 100%;
  resize: none;
}

@media (min-width: 950px) {
  #editor-container {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
  }
  #editor {
    width: 100%;
  }
}
